{
        email vovochkastelmashchuk@gmail.com
        storage file_system {
                root /caddy_storage/
        }
}

mixdrinks.org {
        reverse_proxy * mixdrinks_app:3000
}

www.mixdrinks.org {
        redir https://mixdrinks.org{uri}
}

ypod.stelmashchuk.dev {
        reverse_proxy * ypod_app:3000
}

http://ypod.stelmashchuk.dev {
        reverse_proxy * ypod_app:3000
}

hardandsoft.stelmashchuk.dev {
        rewrite /files/rss.xml /api/podcast/android-story/rss.xml
        rewrite /rss.xml /api/podcast/android-story/rss.xml

        reverse_proxy * ypod_app:3000 {
                header_up Host "hardandsoft.stelmashchuk.dev"
                header_up X-Real-IP {remote_host}
        }
}

podcast.stelmashchuk.dev {
        reverse_proxy * ypod_app:3000 {
                header_up Host "podcast.stelmashchuk.dev"
                header_up X-Real-IP {remote_host}
        }
}

nest2d.stelmashchuk.dev {
        reverse_proxy * nest2d_app:3000
}

kickstart.stelmashchuk.dev {
        reverse_proxy * kickstart_app:3000
}

nest2d.online {
        redir https://nest2d.stelmashchuk.dev
}

express.stelmashchuk.dev {
        reverse_proxy * infra_mongo-express:8081
}

dozzle.stelmashchuk.dev {
        basicauth * { 
                admin {$AUTH_HASH_FILE} 
        }
        reverse_proxy * infra_dozzle:8080
}
