name: Deploy Infra

on:
  push:
    branches:
      - "main"

env:
  REGISTRY: ghcr.io
  DOCKER_STACK_NAME: infra
  DEPLOY_USER: deploy
  HOST: 167.235.52.168

jobs:
  build-and-push-mongo-backup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./backup
          push: true
          tags: |
            ${{ env.REGISTRY }}/vovastelmashchuk/mongo-backup:latest
            ${{ env.REGISTRY }}/vovastelmashchuk/mongo-backup:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs:
      - build-and-push-mongo-backup
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker Stack Deploy
        uses: cssnr/stack-deploy-action@v1
        with:
          name: ${{ env.DOCKER_STACK_NAME }}
          file: docker-stack.yml
          host: ${{ env.HOST }}
          user: ${{ env.DEPLOY_USER }}
          ssh_key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }} 